2,workload,00:50:56:94:e3:f3,{{ workload_ipv4_cidr }},{{ workload_gtw }}
2,workload,00:50:56:94:e3:f3,{{ workload_ipv4_cidr }}
3,frontend,00:50:56:94:32:04,{{ frontend_ipv4_cidr }},{{ frontend_gtw }}
3,frontend,00:50:56:94:32:04,{{ frontend_ipv4_cidr }}
