2,workload,{{ ansible_workload.macaddress }},{{ workload_ipv4_cidr }},{{ workload_gtw }}
2,workload,{{ ansible_workload.macaddress }},{{ workload_ipv4_cidr }}
3,frontend,{{ ansible_frontend.macaddress }},{{ frontend_ipv4_cidr }},{{ frontend_gtw }}
3,frontend,{{ ansible_frontend.macaddress }},{{ frontend_ipv4_cidr }}
